name: Using Defaults

on:
    push:
        branches: [main]
defaults:
  run:
    shell: bash
    working-directory: src
jobs:
    first-job:
        name: First Job
        runs-on: ubuntu-latest

        steps:
            - name: Create Source Directory
              run: mkdir src
              working-directory: .

            - name: Use Python
              run: import os; print("I'm running python! Hissssss! " + os.getcwd());
              shell: python

            - name: Use Bash
              run: echo "I'm running bash also, but elsewhere $(pwd). Booo."
              working-directory: ..
              
    second-job:
        name: Second Job
        runs-on: ubuntu-latest
        steps:
            - name: Create Source Directory
              run: mkdir src
              shell: bash
            - name: Use Bash
              run: echo "I'm running bash in $(pwd). So sad."
              shell: bash
              working-directory: src
