name: Using Defaults

on:
    push:
        branches: [main]

jobs:
    first-job:
        name: First Job
        runs-on: ubuntu-latest
        steps:
            - name: Create Source Directory
              run: mkdir src
              shell: bash
            - name: Use Python
              run: import os; print("I'm running python! Hissssss! " + os.getcwd());
              shell: python
              working-directory: src
            - name: Use Bash Also
              run: echp "I'm running bash also, but elsewhere $(pwd). Booo."
              shell: bash
    second-job:
        name: Second Job
        runs-on: ubuntu-latest
        steps:
            - name: Create Source Directory
              run: echp "I'm running bash in $(pwd). So sad."            
              shell: bash
              working-directory: src
              

